<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="default" color="#fff" type="ball-scale-ripple-multiple"
  [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>

<div class=" content">
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card">

        <div class=" card-header">
          <h5 class=" card-category">Settings</h5>
          <h2 class=" card-title">Campaign</h2>
        </div>

        <!-- Message when not connected-->
        <div *ngIf="(connectors | async)?.length == 0; else connected">
          <div class="card-body">
            You don't have any <a href="#/connectors">connectors</a> yet.
          </div>
        </div>

        <!-- Configuration when connected -->
        <ng-template #connected>
          <div class=" card-body">

            <h4>Configure your campaigns to optimize</h4>

            <!-- All Configurations -->

            <ngb-accordion #configsAccordion="ngbAccordion" [animation]=true>
              <ngb-panel *ngFor="let configuration of configurations | async" [id]="configuration.id">
                <ng-template ngbPanelHeader let-opened="opened">
                  <div class="d-flex align-items-center justify-content-between">
                    <div>
                      <img alt="..." class=" avatar" src="assets/img/google_ads.png" />
                      <span class="bold ml-3">Google Ads</span>

                      <h5 class="m-0">{{configuration.ads_account }}</h5>
                    </div>

                    <div *ngIf="!opened">
                      <button class="btn btn-info btn-outline-primary ml-2" (click)="edit(configuration)">Edit</button>
                      <button type="button" class="btn btn-danger btn-outline-secondary ml-2">Delete</button>
                    </div>
                  </div>
                </ng-template>

                <ng-template ngbPanelContent>
                  <google-campaign *ngIf="connectorOptions | async as options" 
                    [options]="options" 
                    [configuration]="configuration"
                    (saved)="save($event)"
                    (canceled)="cancel(configuration.id)">
                  </google-campaign>
                </ng-template>
              </ngb-panel>
            </ngb-accordion>
          </div>

          <!-- New configuration -->
          <ng-template #new_config>
            <div class="card-body">
              You don't have any configuration yet.
            </div>

            <div class="card-footer">
              <button class=" btn btn-fill btn-info" (click)="create_new()">New</button>
            </div>
          </ng-template>
        </ng-template>
      </div>
    </div>
  </div>
</div>