<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="default" color="#fff" type="ball-scale-ripple-multiple"
  fullScreen="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>

<div class=" content">
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card">

        <div class=" card-header">
          <h5 class=" card-category">Settings</h5>
          <h2 class=" card-title">Campaign</h2>
        </div>

        <div class="card-body">

          <!-- Message when not connected-->
          <div *ngIf="(connectors | async)?.length == 0">
            You don't have any <a href="#/connectors">connectors</a> yet.
          </div>

          <!-- Configuration when connected -->
          <div *ngIf="(connectors | async)?.length > 0">

            <h4>Configure your campaigns to optimize</h4>

            <ngb-accordion #configsAccordion="ngbAccordion" [animation]="true">

              <!-- All configurations -->
              <ngb-panel *ngFor="let configuration of configurations" id="panel-{{configuration.id}}">
                <ng-template ngbPanelHeader let-opened="opened">
                  <div class="d-flex align-items-center justify-content-between">
                    <div>
                      <img alt="..." class=" avatar" src="assets/img/connectors/{{configuration.type}}.png" />
                      <span class="bold ml-3">{{AVAILABLE_CONNECTORS[configuration.type]}}</span>
                    </div>

                    <div>
                      <span class="m-0">{{configuration.name}}</span>
                    </div>

                    <div *ngIf="!opened">
                      <button class="btn btn-info btn-outline-primary ml-2" (click)="edit(configuration)">Edit</button>


                      <ng-template #popTitle><b>Are you sure?</b></ng-template>
                      <ng-template #popContent>
                        <button type="button" class="btn btn-danger" (click)="delete(configuration.id)">Confirm
                          deletion</button>
                      </ng-template>

                      <button type="button" class="btn btn-danger btn-outline-secondary ml-2" [ngbPopover]="popContent"
                        [popoverTitle]="popTitle">
                        Delete
                      </button>
                    </div>
                  </div>
                </ng-template>

                <ng-template ngbPanelContent>
                  <google-campaign *ngIf="connectorOptions | async as options" [options]="options"
                    [configuration]="configuration" (saved)="save($event)" (canceled)="cancel(configuration.id)">
                  </google-campaign>
                </ng-template>
              </ngb-panel>

              <!-- New configuration-->
              <ngb-panel id="panel-new">
                <ng-template ngbPanelHeader let-opened="opened">

                  <h4>Create new configuration</h4>

                  <div *ngIf="connectors | async as conn" class="d-flex align-items-center justify-content-between">
                    <div>
                      <img alt="..." class=" avatar" src="assets/img/connectors/{{conn}}.png" />
                      <span class="bold ml-3">{{AVAILABLE_CONNECTORS[conn]}}</span>
                    </div>

                    <div *ngIf="!opened">
                      <button class="btn btn-success ml-2" (click)="create_new(conn)">Create New</button>
                    </div>
                  </div>
                </ng-template>

                <ng-template ngbPanelContent>
                  <google-campaign *ngIf="connectorOptions | async as options" [options]="options"
                    (saved)="save($event)" (canceled)="cancel('new')">
                  </google-campaign>
                </ng-template>
              </ngb-panel>
            </ngb-accordion>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>