@import "src/assets/scss/black-dashboard/custom/deep-media";

::ng-deep ngb-accordion {
    .card, .card:first-of-type {
        border: 1px solid #cfcee0 !important;
    }
}

.card .avatar {
    margin-bottom: 0;
}

.name-active {
    color: $deep-media-light;
}

:host ::ng-deep {
    
    .popover-header {
        color: #fff;
        background-color: red;
    }

    .popover {
        text-align: center;
        background-color: #1e1e2f;
        color: #fff;
    }

    .popover>.arrow:after {
        border-top-color: #1e1e2f;
    }
}