
<div class=" content">
  <div class=" row">
    <div class=" col-md-8">
      <div class=" card">
        <div class=" card-header">
          <h5 class=" card-category">Your Settings</h5>
          <h2 class=" card-title">Profile</h2>
        </div>
        <div class=" card-body">
          <form>
            <div class=" row">
              <div class=" col-md-12">
                <div class=" form-group">
                  <label for="exampleInputEmail1"> Email address </label>
                  <input
                    class=" form-control"
                    placeholder="janedoe@email.com"
                    disabled=""
                    type="email"
                  />
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-6 pr-md-1">
                <div class=" form-group">
                  <label> First Name </label>
                  <input
                    class=" form-control"
                    placeholder="Company"
                    type="text"
                    disabled=""
                    value="Jane"
                  />
                </div>
              </div>
              <div class=" col-md-6 pl-md-1">
                <div class=" form-group">
                  <label> Last Name </label>
                  <input
                    class=" form-control"
                    placeholder="Last Name"
                    type="text"
                    disabled=""
                    value="Doe"
                  />
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class=" card-footer">
          <button class=" btn btn-fill btn-danger" (click)="save()">Save</button>
        </div>
      </div>
    </div>
    <div class=" col-md-4">
      <div class=" card card-user">
        <div class=" card-body">
          <p class=" card-text"></p>
          <div class=" author">
            <div class=" block block-one"></div>
            <div class=" block block-two"></div>
            <div class=" block block-three"></div>
            <div class=" block block-four"></div>
            <a href="javascript:void(0)">
              <img alt="..." class=" avatar" src="assets/img/emilyz.jpg" />

              <h5 class=" title">Jane Doe</h5>
            </a>
            <p class=" description">Free plan user</p>
          </div>
        </div>
        <div class=" card-footer button-container">
          <button class=" btn btn-fill btn-danger" type="submit">Delete account</button>
        </div>
      </div>
    </div>
  </div>
</div>
