
<div class=" content">
  <div *ngIf="auth.user | async as user" class=" row">
    <div class=" col-md-8">
      <div class=" card">
        <div class=" card-header">
          <h5 class=" card-category">Your Settings</h5>
          <h2 class=" card-title">Profile</h2>
        </div>
        <div class=" card-body">
          <form>
            <div class=" row">
              <div class=" col-md-12">
                <div class=" form-group">
                  <label for="exampleInputEmail1"> Email address </label>
                  <input
                    class=" form-control"
                    placeholder="{{user.email}}"
                    disabled=""
                    type="email"
                  />
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-6 pr-md-1">
                <div class=" form-group">
                  <label> First Name </label>
                  <input
                    class=" form-control"
                    placeholder="{{user.displayName.split(' ')[0]}}"
                    type="text"
                    disabled=""
                  />
                </div>
              </div>
              <div class=" col-md-6 pl-md-1">
                <div class=" form-group">
                  <label> Last Name </label>
                  <input
                    class=" form-control"
                    placeholder="{{user.displayName.split(' ')[1]}}"
                    type="text"
                    disabled=""
                  />
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class=" card-footer">
          <!--button class=" btn btn-fill btn-danger" (click)="save()">Save</button-->
        </div>
      </div>
    </div>
    <div class=" col-md-4">
      <div class=" card card-user">
        <div class=" card-body">
          <p class=" card-text"></p>
          <div class=" author">
            <div class=" block block-one"></div>
            <div class=" block block-two"></div>
            <div class=" block block-three"></div>
            <div class=" block block-four"></div>
            <a href="javascript:void(0)">
              <img alt="..." class=" avatar" [src]="user.photoURL" />

              <h5 class=" title">{{user.displayName}}</h5>
            </a>
            <p class=" description">Free plan user</p>
          </div>
        </div>
        <div class=" card-footer button-container">
          <button class=" btn btn-fill btn-danger" disabled="" type="submit">Delete account</button>
        </div>
      </div>
    </div>
  </div>
</div>
