@import "src/assets/scss/black-dashboard/custom/deep-media";

.next-optimization {
    width: 100%;
    font-size: 1.3em;
    color: #fff;
    background-color: rgba($color: $deep-media-light, $alpha: 0.6);
    padding: 2%;
    margin-bottom: 3%;
    border-radius: 4px;
}

.disabled {
    background-color: rgba($color: #f01111, $alpha: 0.5);
}