<div class=" content">
  <div class=" row">
    <div class=" col-md-12">
      <div class="card">
        <div class=" card-header">
          <h5 class=" card-category">Latest Executions</h5>
          <h2 class=" card-title">History</h2>
        </div>
        <div class=" card-body">

          <table class="table">
            <thead>
              <tr>
                <th class="text-center">Date</th>
                <th class="text-center">Campaign</th>
                <th class="text-center">Target</th>
                <th class="text-center">Margin</th>
                <th class="text-center">Optimize</th>
                <th class="text-center">Before</th>
                <th class="text-center">After</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-center">16/05/2021</td>
                <td class="text-center">Your Campaign Name</td>
                <td class="text-center">9.5%</td>
                <td class="text-center">0.5%</td>
                <td class="text-center">CPA</td>
                <td class="text-center">R$ 12,50</td>
                <td class="text-center">R$ 14,00</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>