<div class=" content">
  <div class=" row" *ngIf="optimizations | async as opts">
    <div class=" col-md-12">
      <div class="card">
        <div class=" card-header">
          <h5 class=" card-category">Latest Executions</h5>
          <h2 class=" card-title">Optimizations</h2>
        </div>
        <div class=" card-body">

          <div class="next-optimization" *ngIf="opts.future; else optimizationDisabled">Next Optimization scheduled to <b>{{opts.future}}</b></div>
          
          <ng-template #optimizationDisabled>
            <div class="next-optimization disabled">Optimizations are <b>disabled.</b></div>
          </ng-template>
          
          <table class="table">
            <thead>
              <tr>
                <th class="text-center">Date/Hour</th>
                <th class="text-center">Campaign</th>
                <th class="text-center">Target AdCost</th>
                <th class="text-center">Margin</th>
                <th class="text-center">Optimization Metric</th>
                <th class="text-center">Before</th>
                <th class="text-center">After</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of opts.history">
                <td class="text-center">{{row.date}}</td>
                <td class="text-center">{{row.campaign}}</td>
                <td class="text-center">{{row.target}}</td>
                <td class="text-center">{{row.margin}}</td>
                <td class="text-center">{{row.optimize}}</td>
                <td class="text-center">{{row.before}}</td>
                <td class="text-center">{{row.after}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>