<div class=" card card-user">
  <div class=" card-body">
    <p class=" card-text"></p>
    <div class=" author">
      <div class=" block block-one"></div>
      <div class=" block block-two"></div>
      <div class=" block block-three"></div>
      <div class=" block block-four"></div>
      <a href="javascript:void(0)">
        <img alt="..." class=" avatar" src="assets/img/google_analytics.png" />

        <h5 class=" title">Google Analytics</h5>
      </a>
      <p class=" description">Connection to your sales results.</p>
    </div>
    <div class=" card-description">
      Connect and choose your Google Analytics account, property and custom metric regarding your sales revenue.
    </div>

    <div class=" card-description">
      <div class="row">
        <div class=" col">
          <div class=" form-group">
            <label> Account </label>
            <br />
            <div ngbDropdown class="d-inline-block dropdown">
              <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Toggle
                dropdown</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem>Action - 1</button>
                <button ngbDropdownItem>Another Action</button>
                <button ngbDropdownItem>Something else is here</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class=" col">
          <div class=" form-group">
            <label> Property </label>
            <br />
            <div ngbDropdown class="d-inline-block dropdown">
              <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Toggle
                dropdown</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem>Action - 1</button>
                <button ngbDropdownItem>Another Action</button>
                <button ngbDropdownItem>Something else is here</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class=" col">
          <div class=" form-group">
            <label> Custom Metric </label>
            <br />
            <div ngbDropdown class="d-inline-block dropdown">
              <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Toggle
                dropdown</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem>Action - 1</button>
                <button ngbDropdownItem>Another Action</button>
                <button ngbDropdownItem>Something else is here</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>

  </div>
  <div class=" card-footer">
    <div class=" button-container">
      <button type="button" class="btn btn-info">Connect</button>
      <button type="button" class="btn btn-info">Save</button>
      <button type="button" class="btn btn-danger">Disconnect</button>
    </div>
  </div>
</div>