<div class=" card card-user">

  <div class=" card-body">
    <p class=" card-text"></p>
    <div class=" author">
      <a href="javascript:void(0)">
        <img alt="..." class=" avatar" src="assets/img/google_ads.png" />

        <h5 class=" title">Google Ads</h5>
      </a>
      <p class=" description">Connection to your campaigns.</p>
    </div>
    <div class=" card-description">
      Connect and choose your Google Ads account to optimize while pulling metrics from Google Analytics as well.
    </div>
  </div>

  <div class=" card-footer">
    <div class=" button-container">

      <button type="button" class="btn btn-success" *ngIf="active;else connected">Connected!</button>
      
      <ng-template #connected>
        <button type="button" class="btn btn-info" (click)="connect()">Connect</button>
      </ng-template>
    </div>
  </div>
</div>