.icons {
    position: absolute;
    display: flex;
    top: 4%;
    right: 4%;

    div {
        font-size: 2em;
        cursor: pointer;
    }
}

:host ::ng-deep {
    
    .popover-header {
        color: #fff;
        background-color: red;
    }

    .popover {
        text-align: center;
        background-color: #1e1e2f;
        color: #fff;
    }

    .popover>.arrow:after {
        border-top-color: #1e1e2f;
    }
}